openapi: 3.1.0
info:
  title: Duo Admin Bulk Bypass Codes API
  description: The Duo Admin API provides programmatic access to the administrative functionality of Duo Security for managing users, groups, phones, hardware tokens, WebAuthn credentials, integrations, and bypass codes. Requests are authenticated using HMAC-SHA1 signed HTTP Basic credentials derived from your integration key and secret key.
  version: v1
  contact:
    name: Duo Security
    url: https://duo.com/docs/adminapi
servers:
- url: https://api-XXXXXXXX.duosecurity.com
  description: Duo Admin API host (replace XXXXXXXX with your tenant identifier)
security:
- basicAuth: []
tags:
- name: Bypass Codes
  description: Bypass code generation and listing
paths:
  /admin/v1/users/{user_id}/bypass_codes:
    parameters:
    - name: user_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: listUserBypassCodes
      summary: List user bypass codes
      description: Returns paged list of bypass code metadata for a user.
      tags:
      - Bypass Codes
      responses:
        '200':
          description: Successful response
    post:
      operationId: createUserBypassCodes
      summary: Generate bypass codes
      description: Generate bypass codes for the user.
      tags:
      - Bypass Codes
      responses:
        '200':
          description: Codes generated
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic with HMAC-SHA1 signed credentials (integration key as user, signed signature as password).
externalDocs:
  description: Duo Admin API Documentation
  url: https://duo.com/docs/adminapi
